# Q-> a+b where a and b is given as string

In [5]:
a="15"
b="20"
a=int(a)
b=int(b)
print(a+b)

35

# Variables
# legal -> a,b , my_var, _ 
# illegal -> 2_a, my var , my-var, and ,or

In [6]:
x=y=z=2
c=d=s="orange"
print(c,d,s)

orange orange orange

# Global and Local Variable
# Global -> used by anywhere
# Local -> used only for particular space

In [11]:
x=2
if x==2:
    r=3
    print(x,r)

2 3

# SOME MORE OPERATION ON STRING

In [18]:
name = "Subhav"

# 0 1 2 3 4 5
# S u b h a v

In [19]:
# length of string
len(name)

6

In [20]:
name = name + " "+"Chamadiya"

In [21]:
print(name)

Subhav Chamadiya

In [22]:
print(name[0])

S

In [23]:
print(name[2:5])

bha

In [24]:
print(name[-5:-2])

adi

In [25]:
name.upper()

'SUBHAV CHAMADIYA'

In [27]:
name.lower()

'subhav chamadiya'

In [50]:
name= " Aaryan Pyagi"

In [51]:
print(name)

 Aaryan Pyagi

In [52]:
# strip function remove space from starting and end
name= name.strip()

In [53]:
print(name)

Aaryan Pyagi

In [54]:
# replace()-> replace the characters
name=name.replace("P","T")

In [55]:
print(name)

Aaryan Tyagi

In [57]:
# split -> split the string
name=name.split(" ")

In [58]:
print(name)

['Aaryan', 'Tyagi']

In [61]:
string= " hi this is my audio "
string=string.strip()
list1=string.split(" ")

In [64]:
list1[0]

'hi'

# in and not in

In [70]:
x = 'his'  in string
x

True

# Multiline string

In [72]:
string2= """iuhfbvkjsl
hjfvkjbvkjhdvfkj
kjfjfnkjfvvnfkj"""

# Multiline Comments

In [74]:
"""jfhklshlsfk"""
print("Hello world")

Hello world

# Boolean -> bool
# 0-> False
# 1 -> True

In [81]:
x=2
x==2
bool(1)

True

In [80]:
i=4
while i:
    print(i)
    i=i-1

4
3
2
1

# List -> ordered, changable , allow Duplicates,[No particular datatype]

In [82]:
my_list= [1,2,2,"goat",5.8]
print(my_list)

[1, 2, 2, 'goat', 5.8]

In [83]:
my_list[3]

'goat'

In [84]:
my_list[-1]

5.8

In [89]:
my_list[2:] #2.....

[2, 'goat', 5.8]

In [90]:
my_list[2]=4

In [91]:
print(my_list)

[1, 2, 4, 'goat', 5.8]

In [92]:
for x in my_list:
    print(x)

1
2
4
goat
5.8

In [1]:
list2=[1,3,2,4,5,6,7]
for x in list2:
    if x%2==0:
        print("even")
    else:
        print("odd")

odd
odd
even
even
odd
even
odd

21

In [2]:
# q-2 assignment
#find sum of the list
#List1 = [2,3,4,5,6,7]
list1 = [2,3,4,5,6,7]
s=0
for x in list1:
    s=s+x#2+3->5+4->9+5->14+6->20+7=27
print(s)

27

In [10]:
#q-3 assignment 
#Print the sum of given numbers in string format
#string =  " 1 2 3 4 5 6 ";
string  =" 1 2 3 4 5 "
string = string.split()
s=0
for x in string:
    s=s+(x)
print(s)

15

In [8]:
print(string)

['1', '2', '3', '4', '5']

In [9]:
a="5"
b="6"
a+b

'56'