In [7]:
string = "i am gone"

In [9]:
for i in range(len(string)):
    if string[i] != " ":
        print(string[i])

i
a
m
g
o
n
e

# Nested Loop

In [10]:
li = ["apple","orange","banana"]
mi = [2,4,6,8]

for i in li:
    for j in mi:
        print(i,j)

apple 2
apple 4
apple 6
apple 8
orange 2
orange 4
orange 6
orange 8
banana 2
banana 4
banana 6
banana 8

In [14]:
for i in range(1,13):
    li=[]
    for j in range(1,11):
        li.append(i*j)
    print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [2]:
i=1
while i<=12:
    j=1
    li=[]
    while j<=10:
        li.append(i*j)
        j=j+1
    print(li)
    i=i+1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [3]:
a= int(input())
b= int(input())
if a>b:
    print(a)
else:
    print(b)

5
10
10

In [5]:
a= int(input())
b= int(input())
c= int(input())
# maximum element
if a>b:           #True a>b
    if a>c:      # false b<a<c # true a>b and a>c
        print(a)
    else:
        print(c)
else:   #  a<b
    if b>c:
        print(b)
    else:
        print(c)

10
17
15
17

In [26]:
a= input("enter string: ")
count = 0
for i in range(len(a)):
    if a[i] in "aeiou":
        count = count+1
print(count)

enter string: subhav chamadiya
6

In [30]:
for i in [13,15]:
    for j in range(1,11):
        print(i," * ",j," = ",i*j)
    print("\n")

13  *  1  =  13
13  *  2  =  26
13  *  3  =  39
13  *  4  =  52
13  *  5  =  65
13  *  6  =  78
13  *  7  =  91
13  *  8  =  104
13  *  9  =  117
13  *  10  =  130


15  *  1  =  15
15  *  2  =  30
15  *  3  =  45
15  *  4  =  60
15  *  5  =  75
15  *  6  =  90
15  *  7  =  105
15  *  8  =  120
15  *  9  =  135
15  *  10  =  150

In [36]:
li=["rita","geeta","sita","babita"]
marks=[23,34,45,56]
for i in range(len(li)): # i=0 , i=1....
    print(li[i],marks[i]) # li[0],marks[0]

rita 23
geeta 34
sita 45
babita 56

In [40]:
for i in li:
    print(i,marks)

rita [23, 34, 45, 56]
geeta [23, 34, 45, 56]
sita [23, 34, 45, 56]
babita [23, 34, 45, 56]

# Python Function
# creating a function

In [41]:
def my_name():
    print("Subhav Chamadiya")

# Function call

In [47]:
my_name()

Subhav Chamadiya

In [49]:
print("My name is ")
my_name()

My name is
Subhav Chamadiya

# Argument in Function

In [50]:
def name(a):
    print(a)

In [51]:
name("aaryan")

aaryan

In [52]:
name(78)

78

In [73]:
def my_argument(a,b="null"):
    print(a,b)

In [54]:
my_argument("aaryan","subhav")

aaryan subhav

In [74]:
li=["aaryan","subhav"]
my_argument(li[0],li[1])

aaryan subhav

In [75]:
my_argument(li)

['aaryan', 'subhav'] null

In [58]:
name(li)

['aaryan', 'subhav']

In [59]:
def my_sum(x,y):
    print(x+y)

In [60]:
my_sum(9,12)

21

# Default Argument = if there is nothing then it takes default value

In [70]:
def maxx(a,b,c=0):
    if a>b:         
        if a>c:      
            print(a)
        else:
            print(c)
    else:   #  a<b
        if b>c:
            print(b)
        else:
            print(c)

In [72]:
maxx(12,14,15)

15

In [64]:
x= int(input("enter number: "))
y= int(input("enter number: "))
z= int(input("enter number: "))
maxx(x,y,z)

enter number: 34
enter number: 56
enter number: 77
77

In [71]:
maxx(12,13)

13