# Round Function

In [2]:
round(12.345,ndigits=2)

12.35

In [5]:
a= 23.98759827049827
round(a,ndigits=4)

23.9876

# absolute function

In [8]:
abs(-4*5)

20

In [10]:
def absolute(s):
    if s<0:
        return -s
    else:
        return s

In [13]:
absolute(-4*5)

20

# Power Function

In [19]:
pow(2,90)

1237940039285380274899124224

In [17]:
def powerfun(a,b):
    return a**b

In [20]:
powerfun(2,90)

1237940039285380274899124224

# Sum function

In [4]:
li=[2,4,5,78,8,99]

In [5]:
sum(li)

196

# Zip Function

In [46]:
a=[3,5,56,78,89]

In [47]:
b=[45,67,8,9,9,90]

In [48]:
x= zip(a,b)

In [49]:
print(set(x))

{(56, 8), (3, 45), (78, 9), (89, 9), (5, 67)}

In [50]:
y=zip(a,b)

In [51]:
print(list(y))

[(3, 45), (5, 67), (56, 8), (78, 9), (89, 9)]

# Min Max All Any Function

In [54]:
min(3,5,78,34,1) # return minimum

1

In [57]:
li=[34,56,67,7,88,90,23,34,46,57,78,79,89,4234,234,456,67,78]
max(li)

4234

In [60]:
li2=[False,True,False]
li3=[True,True,True]
all(li3) #all value should be true 
all(li2)

False

In [61]:
any(li2) # atleast one value should be true

True

# Type

In [64]:
type(li2)
type(x)

zip

In [1]:
Fruits=["Mango", "orange", "apple", "banana"]
Rate = [23, 56, 34, 67]
x=zip(Fruits,Rate)
print(tuple(x))

(('Mango', 23), ('orange', 56), ('apple', 34), ('banana', 67))

In [1]:
n=int(input())
for i in range(1,n+1):
    print(i,end="")

4
1234

In [2]:
n= int(input())
sum=0
for i in range(1,n+1):
    sum=sum*10 + i
print(sum)

4
1234