# dictionary use

In [2]:
dic={
    "subhav":[90,98,96,76],
    "nidhi":[70,80,90,89],
    "harsh":[67,89,56,67],
    "gunjan":[56,78,65,64]
}

In [3]:
dic["harsh"]

[67, 89, 56, 67]

In [4]:
li=dic["nidhi"]
print(li)

[70, 80, 90, 89]

In [5]:
sum=0
for i in li:
    sum=sum+i
print(sum/4)

82.25

In [6]:
d={"aaryan":78,
  "subhav":89}

In [7]:
for i in d:
    print(d[i])

78
89

# if elif else statement

In [8]:
a=3;
b=4;
#print maximum
if(a>b):
    print(a)
else:
    print(b)

4

In [9]:
c=9
if(a>b and a>c):
    print(a)
elif(b>a and b>c):
    print(b)
else:
    print(c)

9

In [10]:
# a monkey jump when he gets simultaneously two number that is given below:
# 2 & 5
# 4 & 6
a=4
b=6
if((a==2 and b==5) or (a==4 and b==6)):
    print("jump")

jump

# User input 
# input function always return string

In [ ]:
a=input()

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
b=input() # b='5'

In [ ]:
type(b)

In [ ]:
b=int(input())

In [ ]:
type(b)

In [ ]:
c=input("Enter your name: ")

In [1]:
a = input("Enter 1st number : ")
b=input("Enter 2nd number : ")
print(a+b)  # a=3 b=4 --> string concatenation

Enter 1st number : 3
Enter 2nd number : 4
34

In [2]:
a = int(input("Enter 1st number : "))
b=int(input("Enter 2nd number : "))
print(a+b)

Enter 1st number : 3
Enter 2nd number : 4
7

# While loop  : initialisation -> condition check -> increment or decrement

In [4]:
i = int(input("enter number: "))
while i<8:
    print(i)
    i=i+1 #i+=1

enter number: 4
4
5
6
7

# BREAK STATEMENT -> stop the loop

In [5]:
i = int(input("enter number: "))
while i<8:
    print(i)
    i=i+1 #i+=1
    if i==6:
        break

enter number: 2
2
3
4
5

# continue statement -> stop the current iteration and start from the top

In [6]:
i = int(input("enter number: "))
while i<8:
    print(i)
    i=i+1 #i+=1
    if i==6:
        continue

enter number: 2
2
3
4
5
6
7

In [ ]:
i = int(input("enter number: "))
while i<8:
    #if i==6:
    #    continue
    print(i)
    i=i+1

In [3]:
i = int(input("enter number: "))
while i<8:
    i=i+1
    if i==6:
        continue
    print(i) 
else:
    print("now no. is greater than 8")

enter number: 2
3
4
5
7
8
now no. is greater than 8

# FOR LOOP for(i=0->condition->increment or decrement)

In [8]:
li = ["apple","orange","banana"]
for i in li:
    if i=="banana":
        continue
    print(i)

apple
orange

In [5]:
string = "123456"
sum = 0
for a in string:
    sum = sum + int(a)
print(sum)

21

In [6]:
for a in "aryana":
    print(a)

a
a
r
y
a
n

In [11]:
for i in 678:
    print(i)

TypeError: 'int' object is not iterable

# range() -> function
# by default 0 range(0,6)

In [12]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [13]:
for x in range (4,8):
    print(x)

4
5
6
7

In [17]:
for i in range(1,11):
    print("2 * ",i," = ",i*2)

2 *  1  =  2
2 *  2  =  4
2 *  3  =  6
2 *  4  =  8
2 *  5  =  10
2 *  6  =  12
2 *  7  =  14
2 *  8  =  16
2 *  9  =  18
2 *  10  =  20

In [6]:
for i in range(1,11):
    print("19 * ",i," = ",i*19)

19 *  1  =  19
19 *  2  =  38
19 *  3  =  57
19 *  4  =  76
19 *  5  =  95
19 *  6  =  114
19 *  7  =  133
19 *  8  =  152
19 *  9  =  171
19 *  10  =  190

In [19]:
for x in [0,1,2]:
    print(x)

0
1
2

In [22]:
for i in range(2,11,4):
    print(i)
else:
    print("iteration complete")

2
6
10
iteration complete

In [5]:
for i in range(1,100):
    if(i%2==0 and i%3==0):
        print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [2]:
a = input("enter a string: ")
count =0
for i in a:
    if i in "aeiou":
        count=count+1
print(count)

enter a string: subhav tyagi
4

In [3]:
#find numbers in range of 1 to 100 that is
#completely divisible by 2 &amp; 3 both
for i in range(1,101):
    if i%2==0 and i%3==0:
        print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96