# list with range function

In [1]:
li=[2,4,5,67,9]
for i in li:
    print(i)

2
4
5
67
9

In [2]:
li[0]

2

In [3]:
len(li)

5

In [5]:
for i in range(len(li)): # for i in range(5)
    print(li[i])

2
4
5
67
9

In [7]:
s= "kjhjbfak"
for i in range(len(s)):
    print(s[i])

k
j
h
j
b
f
a
k

# list using input function

In [8]:
a= input()

["apple",1,4]

In [11]:
a[2] #a="["apple",1,4]"

'a'

In [13]:
list1 = []
n = int(input("enter number of cars: "))
for i in range(n):
    s= input("enter colour of your car: ")
    list1.append(s)
print(list1)

enter number of cars: 5
enter colour of your car: blue
enter colour of your car: red
enter colour of your car: white
enter colour of your car: black
enter colour of your car: brown
['blue', 'red', 'white', 'black', 'brown']

In [14]:
list2=[]
n = int(input())
for i in range(n):
    s= int(input())
    list2.append(s)
for i in range(n):
    if list2[i]%2==0:
        print(list2[i]," even")
    else:
        print(list2[i]," odd")

5
23
45
667
9990
12
23  odd
45  odd
667  odd
9990  even
12  even

In [17]:
#24 even
#45 odd
n=5
list2=[23,45,667,9990,12]
for i in range(n): #range(0,5)
    print(list2[i])

23
45
667
9990
12