In [4]:
a= input()

[3 5 6 7]

In [5]:
print(a)

[3 5 6 7]

In [6]:
type(a)

str

In [7]:
a= list(a)

In [8]:
print(a)

['[', '3', ' ', '5', ' ', '6', ' ', '7', ']']

In [29]:
li=[]
a= int(input("Enter no. of students: "))
for i in range(a):
    name = input("Enter name of students: ")
    li.append(name)
print("Your list of students is :", li)

Enter no. of students: 5
Enter name of students: subhav
Enter name of students: aaryan
Enter name of students: aayush
Enter name of students: manas
Enter name of students: tina
Your list of students is : ['subhav', 'aaryan', 'aayush', 'manas', 'tina']

# Linear Searching

In [30]:
x= input()
for i in range(len(li)):
    if x == li[i]:
        print("position of {} is {}".format(x,i+1))

subhav
position of subhav is 1

# Swap 1st and last no.of list

In [31]:
i=0
j=len(li)-1
s= li[i]
li[i]=li[j]
li[j]=s

In [32]:
print(li)

['tina', 'aaryan', 'aayush', 'manas', 'subhav']

In [16]:
# x,y = y,x
li[i],li[j] = li[j],li[i]

In [17]:
print(li)

['subhav', 'aaryan', 'aayush', 'manas', 'tina']

In [18]:
# Wrong swaping
li[i]=li[j]

In [19]:
print(li)

['tina', 'aaryan', 'aayush', 'manas', 'tina']

In [20]:
li[j]=li[i]

In [21]:
print(li)
###

['tina', 'aaryan', 'aayush', 'manas', 'tina']

In [33]:
import turtle

In [34]:
turtle.forward(50)

In [35]:
turtle.forward(20)

In [36]:
turtle.position()

(70.00,0.00)

In [37]:
turtle.back(80)