In [27]:
# li = [45,67,89,34]

In [28]:
li = []
for i in range(4):
    a=int(input())
    li.append(a)

ValueError: invalid literal for int() with base 10: ''

In [10]:
li

[45, 67, 89, 34]

# List in list
# 2D array
# Nested List

In [11]:
list1 = [[5,6,56,23],[6,34,67,67],[7,45,45,78],[8,56,45,98]]

In [13]:
list1[1][1]

34

In [15]:
list1=[]
for i in range(4):
    l=[]
    for j in range(4):
        a= int(input())
        l.append(a)
    list1.append(l)

5
6
78
45
6
34
56
67
34
45
57
67
78
34
354
656

In [16]:
list1

[[5, 6, 78, 45], [6, 34, 56, 67], [34, 45, 57, 67], [78, 34, 354, 656]]

In [17]:
list1[3][3]

656

In [19]:
list1[2][1]

45

In [21]:
list1[0][2]

78

In [23]:
list1[3][1]

34

In [24]:
for i in range(4):#[0,1,2,3]
    for j in range(4): #[0,1,2,3]
        print(list1[i][j]) #list1[0][0], list1[0][1]

5
6
78
45
6
34
56
67
34
45
57
67
78
34
354
656

In [26]:
for i in range(4):#[0,1,2,3]
    for j in range(4): #[0,1,2,3]
        print(list1[j][i]) #list1[0][0], list1[1][0]

5
6
34
78
6
34
45
34
78
56
57
354
45
67
67
656

# Nested Dictionary

In [3]:
d={
    'Name':"subhav",
    "class": 7,
    "age":12,
}

In [13]:
for i in d.items():
    print(i)

('Name', 'subhav')
('class', 7)
('age', 12)

In [14]:
d["Name"]

'subhav'

In [15]:
for i,j in d.items():
    print(i," ",j)

Name   subhav
class   7
age   12

In [16]:
Nd = {
    1 :{'Name':"subhav",
    "class": 7,
    "age":12},
    2:{'Name':"aaryan",
    "class": 12,
    "age": 20     
    },
    3:{'Name':"vinayak",
    "class": 7,
    "age": 11
    }
}

In [17]:
Nd[1]

{'Name': 'subhav', 'class': 7, 'age': 12}

In [19]:
Nd[2]["Name"]

'aaryan'

In [20]:
Nd[3]["age"]

11

In [21]:
for i in Nd.items():
    print(i)

(1, {'Name': 'subhav', 'class': 7, 'age': 12})
(2, {'Name': 'aaryan', 'class': 12, 'age': 20})
(3, {'Name': 'vinayak', 'class': 7, 'age': 11})

In [22]:
for i,j in Nd.items():
    print(i,j)

1 {'Name': 'subhav', 'class': 7, 'age': 12}
2 {'Name': 'aaryan', 'class': 12, 'age': 20}
3 {'Name': 'vinayak', 'class': 7, 'age': 11}

In [25]:
for k,n in j.items():
    print(k,n)

Name vinayak
class 7
age 11

In [26]:
j["Name"]

'vinayak'

# Object Oriented Programmings (OOPs)
# Python Class and Object

In [30]:
class my_first_class:
    y=10
    x=20
    z=90

In [31]:
a = my_first_class() # a is object

In [34]:
print(a.y,a.z,a.x)

10 90 20

In [46]:
b = my_first_class()

In [47]:
b.x

20

# __init__() Function

In [39]:
class student:
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [40]:
p = student("subhav",12)

In [41]:
print(p.name)

subhav

In [43]:
s= student("aaryan",20)

In [45]:
print(s.age)

20

In [48]:
class my_class:
    def __init__(x1,n,a): # x1=p
        x1.name = n #p.name = "aaryan"
        x1.age = a  #p.age =20
    def my_func(obj): #obj = p
        print("Hello my name is",obj.name) #p.name
        print("Hello my age is",obj.age)

In [49]:
p=my_class("aaryan",20)

In [50]:
p.name

'aaryan'

In [51]:
p.age

20

In [52]:
p.my_func()

Hello my name is aaryan
Hello my age is 20

In [53]:
class my_class:
    def __init__(x1,n,a): # x1=p
        x1.name = n #p.name = "aaryan"
        x1.age = a  #p.age =20
        print("Hello my name is",x1.name) #p.name
        print("Hello my age is",x1.age)

In [54]:
s = my_class("subhav",12)

Hello my name is subhav
Hello my age is 12