# List Function

In [28]:
l=[]

In [31]:
list2=[2,6,7,5,"aaryan"]

In [32]:
len(list2)

5

# append()--> for adding elements

In [33]:
list2[1]=7

In [34]:
print(list2)

[2, 7, 7, 5, 'aaryan']

In [35]:
list2.append("subhav")

In [36]:
print(list2)

[2, 7, 7, 5, 'aaryan', 'subhav']

# insert -> position wise add item

In [37]:
list2.insert(4,"tyagi")

In [38]:
print(list2)

[2, 7, 7, 5, 'tyagi', 'aaryan', 'subhav']

# Remove -> for remove the element

In [39]:
list2.remove("tyagi")

In [40]:
print(list2)

[2, 7, 7, 5, 'aaryan', 'subhav']

In [41]:
list3=[3,5,6,78]
list2+list3

[2, 7, 7, 5, 'aaryan', 'subhav', 3, 5, 6, 78]

# list()->convert into list

In [69]:
string = " 12345"
string=string.strip()
string = list(string)
string

['1', '2', '3', '4', '5']

# Tuple -> ordered,unchangable

In [49]:
x=(1,2,3,'kjhkj')

In [50]:
print(x)

(1, 2, 3, 'kjhkj')

In [51]:
x[0]

1

In [52]:
len(x)

4

In [53]:
x[1]=5

TypeError: 'tuple' object does not support item assignment

In [58]:
y=list(x)
y[1]=5
y
x=tuple(y)
x

(1, 5, 3, 'kjhkj')

# SET -> unordered, duplicates not allowed, unindexed

In [61]:
x = {1,5,5,7,7,8,4,23,"side","by"}

In [62]:
print(x)

{1, 4, 5, 7, 8, 'by', 'side', 23}

In [63]:
x[4]

TypeError: 'set' object is not subscriptable

# ADD -> for add item Update -> for add more than 1 items

In [65]:
x.add("goat")
x

{1, 23, 4, 5, 7, 8, 'by', 'goat', 'side'}

In [66]:
x.update(["apple","banana"])

In [67]:
x

{1, 23, 4, 5, 7, 8, 'apple', 'banana', 'by', 'goat', 'side'}

# Dictionary -> unordered,changable, indexed {key : value}

In [70]:
dic = {"student_name":"subhav", "class": 7 , "age" : 12}

In [71]:
print(dic)

{'student_name': 'subhav', 'class': 7, 'age': 12}

In [72]:
dic["class"]

7

In [73]:
dic["student_name"]

'subhav'

In [74]:
dic["age"]=13

In [75]:
print(dic)

{'student_name': 'subhav', 'class': 7, 'age': 13}